%h5 This is from the form for content
%br
  = form_for @content, :url => {:action => form_path}, :html => {:multipart => true, class: 'form span'} do |f|
    %fieldset
      = f.text_field :title, placeholder: 'Title'
      %br
      = f.text_area :description, placeholder: 'Description', row: '60x100'
      %br
      %p
        = f.label :tags
        %br
        -#= text_field_tag 'content[tags]'

      = f.submit  class: 'btn btn-inverse'
