-#<!DOCTYPE html>
%html
%head
  %title Ziksita
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
  .container-fluid
    .row-fluid
      .span12
        %div#header
          = link_to 'Ziksita', root_path, class: 'header'
        %br
        .row-fluid
          .span2
            #side_nav
              Past Technology
              %br
              Future Technology
              %br
              Manufacturing
              %br
              In News
              %br
          .span10
            #main_content
              = yield



